<h1>INGRESO DE PACIENTES</h1>
<form action="/my-handling-form-page" method="post">
  <div>
      <label for="rut">R.U.T.:</label>
      <input type="text" id="pac_rut" />
  </div>
  <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="tbx_nombre" />
  </div>
  <div>
      <label for="nombre">Apellido Paterno:</label>
      <input type="text" id="tbx_paterno" />
  </div>
  <div>
      <label for="nombre">Apellido Materno:</label>
      <input type="text" id="tbx_materno" />
  </div>
  <div>
      <label for="msg">Dirección:</label>
      <textarea id="tbx_direccion"></textarea>
  </div>
  <div>
      <label for="nombre">Telefono:</label>
      <input type="text" id="tbx_telefono" />
  </div>
   <div class="button">
      <button type="submit">Ingresar</button>
  </div>
</form>